{require_otp_vsn, "R14B0[234]|R15"}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
       {'rabbitmq-codegen', ".*",
        {git, "git://github.com/rabbitmq/rabbitmq-codegen.git", {branch, "master"}}, [raw]},
       {'rabbitmq-erlang-client', ".*",
        {git, "git://github.com/rabbitmq/rabbitmq-erlang-client.git", {branch, "master"}}, [raw]},        
       {'rabbitmq-server', ".*",
        {git, "git://github.com/rabbitmq/rabbitmq-server.git", {branch, "master"}}, [raw]}
       ]}.
